<div class="input-group">
  <span class="input-group-btn">
    <button (click)="mChangeValue(-5)" [ngClass]="a_btnColor" type="button">
      <i class="fa fa-minus"></i>
    </button>
  </span>
  <input
    type="number"
    class="form-control"
    [ngClass]="{'is-invalid': a_progress > 100 || a_progress < 0}"
    min="0"
    max="100"
    (ngModelChange)="mOnChange($event)"
    [(ngModel)]="a_progress"
  />
  <span class="input-group-btn">
    <button (click)="mChangeValue(5)" [ngClass]="a_btnColor" type="button">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
